## [Ignore Visual Studio temporary files, build results, and user-specific files]
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017/2019 cache/options directory
.vs/
# Uncomment if you use Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# but allow the packages.config file
!**/[Pp]ackages/packages.config
# If using NuGet CPU files, ignore them
# nuget.exe
# NuGet.Config
# NuGet.targets

# Application Insights config file
ApplicationInsights.config

# Others
*.tmp
*.bak
*.log
*.swp
*~
